.chat
{
    position: absolute;
    top: 6%;
    right:0;
    width: 20%;
    height: 94%;
}

.main
{
    position: absolute;
    top: 6%;
    left: 0;
    width: 80%;
    height: 94%;
    background-color: black;
}