.main-header {
    position: absolute;
    background-color: black;
    top:0;
    left:0;
    width: 100%;
    height: 7%;
}

.main-header .logo img {
    position: absolute;
    height: 60%;
    top: 25%;
    left: 2%;
}

.main-header .profile_pic img {
    position: absolute;
    height: 100%;
    top: 5%;
    right: 5%;
}

.main-header .username select {
    position: absolute;
    background-color: black;
    border-color: black;
    top: 15%;
    right: 1%;
    height: 80%;
    border: 0px;
    cursor: pointer;
    color: white;
    min-width:100px;
}
