.main-header {
    position: absolute;
    background-color: black;
    top:0;
    left:0;
    width: 100%;
    height: 40px;
}

.main-header div{
    position: relative;
    height: 90%;
    top: 5%;
    right: 2%;
}

.main-header .logo{
    float: left;
    left: 10px;
    cursor: pointer;
}

.main-header .profile{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.main-header .profile p {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    float: right;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.main-header .profile p:hover {
    text-decoration: underline white;
    text-decoration-thickness: 2px;
}

.main-header .logout {
    float: right;
    margin-left: 20px;
}

.main-header div *{
    height: 100%;
}

.main-header .profile img {
    position: relative;
    height: 80%;
    border-radius: 50%;
    top: 10%;
}

.main-header .logout button {
    height: 60%;
    position: relative;
    top: 20%;
    cursor: pointer;
    background-color: black;
    border: 2px solid;
    border-color: black;
}

.main-header .logout button:hover { 
    border-color: white;
}