<div class="main">
    <div class="menu" *ngIf="!matchPlaying && !waiting">
        <button type="button" (click)="startMatch()" class="findMatchButton"><b>Find match</b></button>
        <button type="button" *ngFor="let challenge of challenges" (click)="startMatch(challenge.id)" class="challengeButton"><b>Challenge from: {{ challenge.playerLeft.login_42 }}</b></button>
    </div>
    <div class="menu" *ngIf="waiting">
        <h1>Waiting...</h1>
        <button type="button" (click)="cancelFind()" class="challengeButton">Cancel</button>
    </div>

    <canvas #game height="960" width="1280" style="border-left:1px solid white;" id="cv"></canvas>
</div>