.main-chat {
<<<<<<< HEAD
    background-color: blue;
    width: 100%;
    height: 100%;
=======
    position: absolute;
    background-color: black;
    top: 6%;
    right: 0px;
    width: 20%;
    height: 94%;
    box-sizing: border-box;
    border: 2px solid;
    border-top: 2px;
    border-color: white;
>>>>>>> rgirondo
}