<head>
<link rel="stylesheel" href="login.component.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="video-wrapper">
    <video playsinline poster autoplay muted loop disablePictureInPicture>
        <source src="../../assets/Pong_Background.webm" type="video/webm">
    </video>  
</div>
<div class="wrapper">
    <div class="logo">
        <img src="../../assets/42_Logo.png">
    </div>
    <div class="login-button">
        <button class="42login-btn">Sign up with 42 account</button>
    </div>
</div>