<head>
<link rel="stylesheel" href="login.component.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="video-wrapper">
    <video playsinline poster autoplay muted loop disablePictureInPicture>
        <source src="../../assets/Pong_Background.webm" type="video/webm">
    </video>  
</div>
<div class="wrapper">
    <div class="logo">
        <img src="../../assets/42_Logo.png">
    </div>
    <div class="login-button">
        <button onclick="window.location.href='https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-5e8f32562427f9c449ce50ffca3a6f29bae38a94655ea0187a79435bbcf03307&redirect_uri=https%3A%2F%2Fwww.patrimonionacional.es%2F&response_type=code';" class="42login-btn">Sign up with 42 account</button>
    </div>
</div>