<div class="mainComponent">
    <div class="formContainer">
        <div class="profile-form box">
            <h2>PERFIL</h2>
            <br>
            <input type="file" class="file-input" (input)="onFileSelected($event)" #fileUpload>
            <div class="file-upload">
                <span>Selecciona la nueva imagen</span>
                <p style="color: orange;"><b>{{image?.name}}</b></p>
                <button type="none" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    Subir imagen
                </button>
            </div>
            <br>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <label for="nickname">Nombre de usuario: </label>
                <input id="nickname" type="text" formControlName="nickname">
                <br>
                <label for="auth2FA">Autentificación en dos pasos: </label>
                <input id="auth2FA" type="checkbox" formControlName="auth2FA">
                <br><br>
                <button type="submit" [disabled]="!profileForm.valid">Guardar</button>
            </form>
        </div>
        <div class="profile-stats box">
            <h2>ESTADÍSTICAS</h2>
            <p>Elo: {{(profile | async)?.elo}}</p>
            <br>
            <p>Wins: {{(profile | async)?.wins}}</p>
            <p>Loses: {{(profile | async)?.loses}}</p>
        </div>
        <div class="profile-matches box">
            <h2>HISTORIAL</h2>
            <table>
                <tr>
                    <th>User</th>
                    <th>Gamemode</th>
                    <th>Result</th>
                </tr>
                <tr *ngFor="let match of matches">
                    <td>{{match.against}}</td>
                    <td>{{match.gamemode}}</td>
                    <td>{{match.result}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
