<div class="mainComponent">
    <div class="formContainer">
        <div class="profile-image box">
            <input type="file" class="file-input" (input)="onFileSelected($event)" #fileUpload>
            <div class="file-upload">
                <button type="none" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    Subir imagen
                </button>
            </div>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            
            <div class="profile-form box">
                <label for="nickname">Nombre de usuario: </label>
                <input id="nickname" type="text" formControlName="nickname">
                <br>
                <label for="auth2FA">Autentificación en dos pasos: </label>
                <input id="auth2FA" type="checkbox" formControlName="auth2FA">
                <br><br>
                <p>Completa el formulario para habilitar el botón.</p>
                <button type="submit" [disabled]="!profileForm.valid">Guardar</button>
            </div>
        </form>
    </div>
</div>
