<div class="mainComponent">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="formContainer">
        <div class="profile-image box">
            <input type="file" class="file-input" (input)="onFileSelected($event)" #fileUpload>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    Subir imagen
                </button>
            </div>
        </div>
        <div class="profile-form box">
            <label for="username">Nombre de usuario: </label>
            <input id="username" type="text" formControlName="username">
            <br>
            <label for="factor_auth">Autentificación en dos pasos: </label>
            <input id="factor_auth" type="checkbox" formControlName="factor_auth">
            <br><br>
            <p>Completa el formulario para habilitar el botón.</p>
            <button type="submit" [disabled]="!profileForm.valid">Guardar</button>
        </div>
    </form>
</div>
